<div id="<%= dom_id patient_request %>">
  <div class="col flex-column">
    <div class="card border mx-auto text-center main opacity-50">
      <h1 class="card-text text p-2"><%= patient_request.rank %></h1>
      <div class="card-body text">
        <strong class="card-title"><%= patient_request.user.first_name + " " + patient_request.user.last_name %></strong><br>
        <% if current_page?( patient_requests_path	) && current_user == patient_request.user %>
          <%= link_to "View your details", patient_request, class: "btn btn-outline-light m-3"%>
          <%= link_to "View your comments", comments_path, class: "btn btn-outline-light"%>
        <% end %>
      <% if current_user.role == "admin"%>
        <p class="card-text overflow-auto"><%= patient_request.description %></p>
        <p class="card-text">Priority Score: <%= patient_request.queue_position%></p>
      </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Status: <%= patient_request.status %></li>
          <li class="list-group-item">Pain: <%= patient_request.pain %></li>
          <li class="list-group-item">Injury Type: <%= patient_request.injury_type %></li>
        </ul>
        <div class="card-body">
          <% if current_page?( patient_requests_path	) %>
            <%= link_to "View your details", patient_request, class: "btn btn-outline-light m-3"%>
            <%= link_to "View your comments", comments_path, class: "btn btn-outline-light"%>
            <img src="<%= patient_request.image %>" class="card-img-top" width="252" height="252" alt="No Image Provided"/>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
