<div id="<%= dom_id patient_request %>">
  <p>
    <strong>Queue Position:</strong>
    <%= patient_request.queue_position%>
  </p>
  <p>
    <strong>Name:</strong>
    <%= patient_request.user.first_name + " " + patient_request.user.last_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= patient_request.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= patient_request.image %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= patient_request.status %>
  </p>

  <p>
    <strong>Pain:</strong>
    <%= patient_request.pain %>
  </p>

  <p>
    <strong>Injury Type:</strong>
    <%= patient_request.injury_type %>
  </p>

</div>
