<div id="<%= dom_id patient_request %>">
  <p>
    <strong>User:</strong>
    <%= patient_request.user.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= patient_request.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= patient_request.image %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= patient_request.status %>
  </p>

  <p>
    <strong>Pain:</strong>
    <%= patient_request.pain %>
  </p>

</div>
