<div id="<%= dom_id patient_request %>">
  <div class="col flex-column">
    <div class="card border mx-auto text-center main">
      <h1 class="card-text text p-2"><%= patient_request.rank %></h1>
      <div class="card-body text">
        <strong class="card-title"><%= patient_request.user.first_name + " " + patient_request.user.last_name %></strong><br>
      <% if policy(patient_request).show? %>
        <div class="card-body">
          <% if current_page?(patient_requests_path) %>
            <%= link_to "View details", patient_request, class: "btn btn-outline-dark m-3" %>
            <%= button_to "Remove from queue", patient_request, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark m-3" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
