<div id="<%= dom_id patient_request %>">
  <div class="col flex-column">
    <div class="card border mx-auto text-center main">
      <h1 class="card-text text p-2"><%= patient_request.rank %></h1>
      <div class="card-body text">
        <strong class="card-title"><%= patient_request.user.first_name + " " + patient_request.user.last_name %></strong><br>
      <% if current_user.role == "admin" || current_user == patient_request.user%>
        <div class="card-body">
          <% if current_page?( patient_requests_path	) %>
            <%= link_to "View details", patient_request, class: "btn btn-outline-light m-3"%>
            <%= link_to "View comments", patient_request_comments_path(patient_request), class: "btn btn-outline-light"%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
