<div id="<%= dom_id patient_request %>">
  <div class="col">
    <div class="card border text-center h-100">
      <h1 class="card-text text p-2"><%= patient_request.rank %></h1>
      <div class="card-body text">
        <strong class="card-title"><%= patient_request.user.first_name + " " + patient_request.user.last_name %></strong>
      <% if current_user.role == "admin"%>
        <p class="card-text"><%= patient_request.description %></p>
        <p class="card-text">Priority Score: <%= patient_request.queue_position%></p>
      </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Status: <%= patient_request.status %></li>
          <li class="list-group-item">Pain: <%= patient_request.pain %></li>
          <li class="list-group-item">Injury Type: <%= patient_request.injury_type %></li>
        </ul>
        <div class="card-body">
          <% if current_page?( patient_requests_path	) %>
            <%= link_to "Show more details", patient_request, class: "btn btn-primary m-3"%>
            <%= link_to "Show comments", comments_path, class: "btn btn-primary"%>
          <% end %>
          <img src="<%= patient_request.image %>" class="card-img-top" alt="No Image Provided">
        </div>
      <% end %>
    </div>
  </div>
</div>
