<h1 class="text-center">Details for <%= @patient_request.user.first_name%></h1>
<div class="d-flex justify-content-center p-5">
  <div class="card w-75 m-3 text-center">
    <p class="card-text overflow-auto p-3">Description: <%= @patient_request.description %></p>
    <ul class="list-group list-group-flush text-white opacity-50">
      <li class="list-group-item">Status: <%= @patient_request.status %></li>
      <li class="list-group-item">Pain: <%= @patient_request.pain %></li>
      <li class="list-group-item">Injury Type: <%= @patient_request.injury_type %></li>
    </ul>
    <p class="card=text overflow-auto"><%= link_to "View comments", patient_request_comments_path(@patient_request), class: "btn btn-outline-primary btn-lg mt-4"%></p>
  </div>
  <img src="<%= @patient_request.image %>" class="card-img-top" width="100" height="100" alt="No Image Provided"/>
</div>

<div class="d-flex justify-content-evenly p-5 m-5">
  <%= link_to "Queue", patient_requests_path, class: "btn btn-outline-primary btn-lg mt-4"%>
  <%= button_to "Leave the queue", @patient_request, method: :delete, class: "btn btn-outline-primary btn-lg mt-4"%>
</div>
