<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to 'Edit', edit_patient_request_comment_path(@patient_request, @comment) %> |
  <%= link_to 'Back', patient_request_comments_path(@patient_request) %> |
  <%= link_to 'Delete', [@patient_request, @comment], method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
