<nav class="navbar" id="nav-grad">
  <div class="container-fluid">
    <%= link_to "ERFlow", landing_page_path, class: "navbar-brand text-white"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
          <%if user_signed_in?%>
            <li class="nav-item">
              <%= link_to "Form", new_patient_request_path, class: "nav-link text-white"%>
            </li>
            <li class="nav-item">
              <%= link_to "Queue", patient_requests_path, class: "nav-link text-white"%>
            </li>
            <div class="">
              <li class="nav-item">
                <%= link_to "Sign out", destroy_user_session_path, class: "nav-link text-white", method: :delete %>
              </li>
              <li class="nav-item">
                <%= link_to "Edit", edit_user_registration_path, class: "nav-link text-white"%>
              </li>
            </div>
          <%else%>
            <div class="">
              <li class="nav-item">
                <%= link_to "Sign in", new_user_session_path, class: "nav-link text-white"%>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: "nav-link text-white"%>
              </li>
            </div>
          <%end%>
      </ul>
    </div>
  </div>
</nav>
