<!DOCTYPE html>
<html>
  <head>
    <title>ERFlow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      html, body{
        margin: 0px;
        padding: 0px;
        background-color: #EBEBEB;
        background-size: cover;
      }

      #nav-grad{
        background-image: linear-gradient(to right, #143C52, #449DD1);
      }
    </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render partial: "shared/cdn_assets"%>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Custom styles for this template -->
  </head>

  <body>
    <%= render partial: "shared/navbar"%>
    <%= render partial: "shared/alerts"%>
    <%= yield %>
  </body>
</html>
