<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      html, body, #grad {
        margin: 0px;
        padding: 0px;
        background-color: white;
      }

      #nav-grad{
        background-image: linear-gradient(to right, #143C52, #449DD1);
      }
    </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render partial: "shared/cdn_assets"%>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "shared/navbar"%>
    <%= render partial: "shared/alerts"%>
    <div id="grad">
      <%= yield %>
    </div>
  </body>
</html>
