<div class="container-fluid d-flex justify-content-center align-items-center vh-75 mt-5 mb-5">
  <div class="card p-4 shadow w-100 w-md-75 w-lg-50">
    <h2 class="h2 text-center mb-4">Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, input_html: { class: "form-control mb-3" } %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting for confirmation of: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "new-password", class: "form-control mb-3"} %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password", class: "form-control mb-3"} %>
        <%= f.input :current_password,
                    required: true,
                    input_html: { autocomplete: "current-password", class: "form-control mb-3"} %>
        <%= f.input :phone,
                    required: false,
                    input_html: { class: "form-control mb-3"} %>
      </div>

      <div class="text-center">
        <%= f.button :submit, "Update", class: "btn btn-primary btn-lg btn-block mt-4" %>
      </div>
    <% end %>

    <h3 class="text-center mt-5">Cancel my account</h3>

    <div class="text-center">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger mt-2" %>
    </div>

    <div class="text-center mt-3">
      <%= link_to "Back", :back, class: "btn btn-link" %>
    </div>
  </div>
</div>
